@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '~react-toastify/dist/ReactToastify.css'; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .text-outline-black {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .blue1 {
    color: #2463EB;
  }
}

